<launch>
  <arg name="message_display" default="screen" doc="output type"/>
  
  <node pkg="tfmini" type="tfmini" name="tfmini_rf" output="$(arg message_display)">
    <param name="serial_port" value="/dev/recipe.driver.tfmini.rf" />
    <param name="baud_rate" value="115200" />
    <param name="frame_id" value="TFmini_rf" />
  </node>

  <node pkg="tfmini" type="tfmini" name="tfmini_rb" output="$(arg message_display)">
    <param name="serial_port" value="/dev/recipe.driver.tfmini.rb" />
    <param name="baud_rate" value="115200" />
    <param name="frame_id" value="TFmini_rb" />
  </node>

  <node pkg="tfmini" type="tfmini" name="tfmini_fr" output="$(arg message_display)">
    <param name="serial_port" value="/dev/recipe.driver.tfmini.fr" />
    <param name="baud_rate" value="115200" />
    <param name="frame_id" value="TFmini_fr" />
  </node>

  <node pkg="tfmini" type="tfmini" name="tfmini_br" output="$(arg message_display)">
    <param name="serial_port" value="/dev/recipe.driver.tfmini.br" />
    <param name="baud_rate" value="115200" />
    <param name="frame_id" value="TFmini_br" />
  </node>
</launch>
