<launch>
  <node pkg="tfmini_ros" type="tfmini_ros_node" name="tfmini_ros_node_tf02_fr" output="screen">
    <param name="serial_port" value="/dev/recipe.driver.tf02.fr" />
    <param name="baud_rate" value="115200" />
    <param name="frame_id" value="TF02_fr" />
  </node>

  <node pkg="tfmini_ros" type="tfmini_ros_node" name="tfmini_ros_node_tf02_rr" output="screen">
    <param name="serial_port" value="/dev/recipe.driver.tf02.rr" />
    <param name="baud_rate" value="115200" />
    <param name="frame_id" value="TF02_rr" />
  </node>

  <node pkg="tfmini_ros" type="tfmini_ros_node" name="tfmini_ros_node_tfmini_rf" output="screen">
    <param name="serial_port" value="/dev/recipe.driver.tfmini.rf" />
    <param name="baud_rate" value="115200" />
    <param name="frame_id" value="TFmini_rf" />
  </node>

  <node pkg="tfmini_ros" type="tfmini_ros_node" name="tfmini_ros_node_tfmini_rr" output="screen">
    <param name="serial_port" value="/dev/recipe.driver.tfmini.rr" />
    <param name="baud_rate" value="115200" />
    <param name="frame_id" value="TFmini_rr" />
  </node>
  
  <!-- <node pkg="tf" type="static_transform_publisher" name="broadcasterTF02_fr" args="0.6 0.65 0 1.57 0 0  base_link TF02_fr 100" />
  <node pkg="tf" type="static_transform_publisher" name="broadcasterTF02_rr" args="0.6 -0.65 0 -1.57 0 0 base_link TF02_rr 100" /> -->
  <node pkg="tf" type="static_transform_publisher" name="broadcasterTF02_fr" args="0.46 0.61 0 1.57 0 0  base_link TF02_fr 100" />
  <node pkg="tf" type="static_transform_publisher" name="broadcasterTF02_rr" args="0.46 -0.61 0 -1.57 0 0 base_link TF02_rr 100" />
  <node pkg="tf" type="static_transform_publisher" name="broadcasterTFmini_rf" args="0.56 0.51 0 0 0 0  base_link TFmini_rf 100" />
  <node pkg="tf" type="static_transform_publisher" name="broadcasterTFmini_rr" args="0.56 -0.51 0 0 0 0 base_link TFmini_rr 100" />

  <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find tfmini_ros)/rviz/view.rviz" /> -->
</launch>
